{{>header}}
{{>menu}}

<center>
<div class="card mb-3" style="max-width: 1900px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <left><iframe  style="max-width: 30rem;"
src="https://www.youtube.com/embed/ZWzo3I6m00I?controls=0">
</iframe></left>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">Selamat datang di Website E commerce Hidroponik </h1>
        <p class="card-text">Hidroponik adalah budidaya menanam dengan memanfaatkan air tanpa menggunakan tanah dengan menekankan pada pemenuhan kebutuhan nutrisi bagi tanaman. Kebutuhan air pada hidroponik lebih sedikit daripada kebutuhan air pada budidaya dengan tanah.</p>
        <h4>Apa kelebihan mengkonsumsi sayuran hidroponik?</h4>
        <p>Sayuran hidroponik  lebih aman dari serangan hama, bebas pestisida, nutrisi sayuran hidroponik yang terkontrol seperti kalsium, zinc, magnesium, atau unsur hara lainnya yang  ditambahkan pada tanaman sayur hidroponik sehingga nutrisi lebih maksimal.
</p>
        <p class="card-text"><small class="text-muted"></small></p>
      </div>
    </div>
  </div>
</div>
</center>
{{>footer}}